<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FixItFinder - Edit Profile</title>
    <link rel="stylesheet" href="/edit.css"> <!-- Adjusted path to CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="signupcustomerform">
         <div class="signupcustomertext">
            Edit Your Profile
            <div class="contact">
                <h3>Contact us <i class="fa-solid fa-envelope"></i></h3>
                <ul><a href="mailto:eleassarkerre@gmail.com">Md. Eleas Sarker</a></ul>
                <ul><a href="mailto:tulyrahmy@gmail.com">Rahmy Akter Tuly</a></ul>
            </div>
         </div>
         <div class="customersignupform"> <!-- Corrected class name -->
            <div class="signuppbox">
                <form id="updateForm" method="POST" action="/editcustomer/User/<%= User.userName %>" enctype="multipart/form-data">
                    <div class="infobox" id="fullname">
                        <label for="fullName" class="label">Full Name:</label>
                        <input type="text" name="fullName" id="fullName" class="info-field" value="<%= User.fullName %>" required>
                    </div>
                    <div class="infobox" id="username">
                        <label for="userName" class="label">Username:</label>
                        <input type="text" name="userName" id="userName" class="info-field" value="<%= User.userName %>" readonly>
                    </div>
                    <div class="infobox" id="phonenumber">
                        <label for="phoneNumber" class="label">Phone Number:</label>
                        <input type="text" name="phoneNumber" id="phoneNumber" class="info-field" value="<%= User.phoneNumber %>" required>
                    </div>
                    <div class="infobox" id="email">
                        <label for="emailAddress" class="label">Email Address:</label>
                        <input type="email" name="emailAddress" id="emailAddress" class="info-field" value="<%= User.emailAddress %>" required>
                    </div>
                    <div class="uploadimg">
                        <input type="file" name="profileImage" id="file-input" accept="image/*" class="file-input">
                        <label for="file-input" class="file-label" id="file-label">Choose an Image</label>
                    </div>
                    <input type="text" id="file-url" class="file-url-input" readonly placeholder="The file size must be less than 500 KB">
                    <div class="selctareasubarea">
                        <label for="mainArea">Area:</label>
                        <select id="mainArea" name="area">
                            <option value="Dhaka" <%= User.area === 'Dhaka' ? 'selected' : '' %>>Dhaka</option>
                            <option value="Chittagong" <%= User.area === 'Chittagong' ? 'selected' : '' %>>Chittagong</option>
                            <option value="Rajshahi" <%= User.area === 'Rajshahi' ? 'selected' : '' %>>Rajshahi</option>
                            <option value="Faridpur" <%= User.area === 'Faridpur' ? 'selected' : '' %>>Faridpur</option>
                            <option value="Gazipur" <%= User.area === 'Gazipur' ? 'selected' : '' %>>Gazipur</option>
                            <option value="Gopalganj" <%= User.area === 'Gopalganj' ? 'selected' : '' %>>Gopalganj</option>
                            <option value="Kishoreganj" <%= User.area === 'Kishoreganj' ? 'selected' : '' %>>Kishoreganj</option>
                            <option value="Madaripur" <%= User.area === 'Madaripur' ? 'selected' : '' %>>Madaripur</option>
                            <option value="Manikganj" <%= User.area === 'Manikganj' ? 'selected' : '' %>>Manikganj</option>
                            <option value="Munshiganj" <%= User.area === 'Munshiganj' ? 'selected' : '' %>>Munshiganj</option>
                            <option value="Narayanganj" <%= User.area === 'Narayanganj' ? 'selected' : '' %>>Narayanganj</option>
                            <option value="Narsingdi" <%= User.area === 'Narsingdi' ? 'selected' : '' %>>Narsingdi</option>
                            <option value="Rajbari" <%= User.area === 'Rajbari' ? 'selected' : '' %>>Rajbari</option>
                            <option value="Shariatpur" <%= User.area === 'Shariatpur' ? 'selected' : '' %>>Shariatpur</option>
                            <option value="Tangail" <%= User.area === 'Tangail' ? 'selected' : '' %>>Tangail</option>
                            <option value="Bogura" <%= User.area === 'Bogura' ? 'selected' : '' %>>Bogura</option>
                            <option value="Joypurhat" <%= User.area === 'Joypurhat' ? 'selected' : '' %>>Joypurhat</option>
                            <option value="Naogaon" <%= User.area === 'Naogaon' ? 'selected' : '' %>>Naogaon</option>
                            <option value="Natore" <%= User.area === 'Natore' ? 'selected' : '' %>>Natore</option>
                            <option value="Chapai Nawabganj" <%= User.area === 'Chapai Nawabganj' ? 'selected' : '' %>>Chapai Nawabganj</option>
                            <option value="Pabna" <%= User.area === 'Pabna' ? 'selected' : '' %>>Pabna</option>
                            <option value="Sirajganj" <%= User.area === 'Sirajganj' ? 'selected' : '' %>>Sirajganj</option>
                            <option value="Bagerhat" <%= User.area === 'Bagerhat' ? 'selected' : '' %>>Bagerhat</option>
                            <option value="Chuadanga" <%= User.area === 'Chuadanga' ? 'selected' : '' %>>Chuadanga</option>
                            <option value="Jashore" <%= User.area === 'Jashore' ? 'selected' : '' %>>Jashore</option>
                            <option value="Jhenaidah" <%= User.area === 'Jhenaidah' ? 'selected' : '' %>>Jhenaidah</option>
                            <option value="Khulna" <%= User.area === 'Khulna' ? 'selected' : '' %>>Khulna</option>
                            <option value="Kushtia" <%= User.area === 'Kushtia' ? 'selected' : '' %>>Kushtia</option>
                            <option value="Magura" <%= User.area === 'Magura' ? 'selected' : '' %>>Magura</option>
                            <option value="Meherpur" <%= User.area === 'Meherpur' ? 'selected' : '' %>>Meherpur</option>
                            <option value="Narail" <%= User.area === 'Narail' ? 'selected' : '' %>>Narail</option>
                            <option value="Satkhira" <%= User.area === 'Satkhira' ? 'selected' : '' %>>Satkhira</option>
                            <option value="Jamalpur" <%= User.area === 'Jamalpur' ? 'selected' : '' %>>Jamalpur</option>
                            <option value="Mymensingh" <%= User.area === 'Mymensingh' ? 'selected' : '' %>>Mymensingh</option>
                            <option value="Netrokona" <%= User.area === 'Netrokona' ? 'selected' : '' %>>Netrokona</option>
                            <option value="Sherpur" <%= User.area === 'Sherpur' ? 'selected' : '' %>>Sherpur</option>
                            <option value="Bandarban" <%= User.area === 'Bandarban' ? 'selected' : '' %>>Bandarban</option>
                            <option value="Brahmanbaria" <%= User.area === 'Brahmanbaria' ? 'selected' : '' %>>Brahmanbaria</option>
                            <option value="Chandpur" <%= User.area === 'Chandpur' ? 'selected' : '' %>>Chandpur</option>
                            <option value="Comilla" <%= User.area === 'Comilla' ? 'selected' : '' %>>Comilla</option>
                            <option value="Cox\'s Bazar" <%= User.area === 'Cox\'s Bazar' ? 'selected' : '' %>>Cox's Bazar</option>
                            <option value="Feni" <%= User.area === 'Feni' ? 'selected' : '' %>>Feni</option>
                            <option value="Khagracchari" <%= User.area === 'Khagracchari' ? 'selected' : '' %>>Khagracchari</option>
                            <option value="Lakshmipur" <%= User.area === 'Lakshmipur' ? 'selected' : '' %>>Lakshmipur</option>
                            <option value="Noakhali" <%= User.area === 'Noakhali' ? 'selected' : '' %>>Noakhali</option>
                            <option value="Rangamati" <%= User.area === 'Rangamati' ? 'selected' : '' %>>Rangamati</option>
                            <option value="Dinajpur" <%= User.area === 'Dinajpur' ? 'selected' : '' %>>Dinajpur</option>
                            <option value="Gaibandha" <%= User.area === 'Gaibandha' ? 'selected' : '' %>>Gaibandha</option>
                            <option value="Kurigram" <%= User.area === 'Kurigram' ? 'selected' : '' %>>Kurigram</option>
                            <option value="Lalmonirhat" <%= User.area === 'Lalmonirhat' ? 'selected' : '' %>>Lalmonirhat</option>
                            <option value="Nilphamari" <%= User.area === 'Nilphamari' ? 'selected' : '' %>>Nilphamari</option>
                            <option value="Panchagarh" <%= User.area === 'Panchagarh' ? 'selected' : '' %>>Panchagarh</option>
                            <option value="Rangpur" <%= User.area === 'Rangpur' ? 'selected' : '' %>>Rangpur</option>
                            <option value="Thakurgaon" <%= User.area === 'Thakurgaon' ? 'selected' : '' %>>Thakurgaon</option>
                            <option value="Habiganj" <%= User.area === 'Habiganj' ? 'selected' : '' %>>Habiganj</option>
                            <option value="Moulvibazar" <%= User.area === 'Moulvibazar' ? 'selected' : '' %>>Moulvibazar</option>
                            <option value="Sunamganj" <%= User.area === 'Sunamganj' ? 'selected' : '' %>>Sunamganj</option>
                            <option value="Sylhet" <%= User.area === 'Sylhet' ? 'selected' : '' %>>Sylhet</option>
                            <option value="Barguna" <%= User.area === 'Barguna' ? 'selected' : '' %>>Barguna</option>
                            <option value="Barishal" <%= User.area === 'Barishal' ? 'selected' : '' %>>Barishal</option>
                            <option value="Bhola" <%= User.area === 'Bhola' ? 'selected' : '' %>>Bhola</option>
                            <option value="Jhalokati" <%= User.area === 'Jhalokati' ? 'selected' : '' %>>Jhalokati</option>
                            <option value="Patuakhali" <%= User.area === 'Patuakhali' ? 'selected' : '' %>>Patuakhali</option>
                            <option value="Pirojpur" <%= User.area === 'Pirojpur' ? 'selected' : '' %>>Pirojpur</option>               
                        </select>
                        <label for="subArea">Sub-Area:</label>
                        <select id="subArea" name="subArea">
                            <!-- This will be populated dynamically by JavaScript -->
                        </select>
                        <input type="hidden" id="subAreaValue" value="<%= User.subArea ? User.subArea : '' %>">
                        
                    </div>
                    <div class="religion">
                        <label for="religion">Religion:</label>
                        <select id="religion" name="religion">
                            <option value="Muslim" <%= User.religion === 'Muslim' ? 'selected' : '' %>>Muslim</option>
                            <option value="Hindu" <%= User.religion === 'Hindu' ? 'selected' : '' %>>Hindu</option>
                            <option value="Buddhist" <%= User.religion === 'Buddhist' ? 'selected' : '' %>>Buddhist</option>
                            <option value="Christian" <%= User.religion === 'Christian' ? 'selected' : '' %>>Christian</option>
                            <option value="Other" <%= User.religion === 'Other' ? 'selected' : '' %>>Other</option>
                        </select>
                    </div>
                    <div class="buttons" id="customer">
                        <button type="submit" id="saveChanges">Save Changes</button>
                    </div>
                    <!-- Optional: Display error or success message -->
                    <div id="message" class="message"></div>
                </form>
            </div>
         </div>
    </div>
    <div id="notification" class="notification" style="display: none;"></div>

    <script src="/editcustomer.js"></script>
</body>
</html>
